@use './variables' as *;
@use './functions' as *;

// Миксины для адаптивного дизайна
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $breakpoint-desktop) {
    @content;
  }
}

// Миксин для сервисных кнопок
@mixin service-color($title, $color) {
  &[title="#{$title}"] {
    &.services__button--active .services__icon {
      background: $color;
    }
    &:not(.services__button--active):hover {
      .services__icon {
        background: $color;
        opacity: 0.3;
        img, svg {
          opacity: 1;
        }
      }
    }
  }
}
