@use './functions' as *;

$color-primary: #31CECB;
$color-accent: #FFDD21;
$color-bg: #FFFFFF;
$color-bg-secondary: #FAFAFA;
$color-bg-tertiary: #F1F1F1;
$color-text: #000000;
$color-border: #F0F0F0;
$color-border-secondary: #E0E7E9;
$color-grey-light: #D7D7D7;
$color-grey: #999999;
$color-grey-dark: #636363;
$color-primary-bright: #00CFCC;
$color-error: #FF3B30;

$font-family-primary: 'Inter', Arial, sans-serif;
$font-size-title: clamp(rem-calc(24), 3vw, rem-calc(50));
$font-size-subtitle: clamp(rem-calc(18), 1.5vw, rem-calc(24));
$font-size-label: clamp(rem-calc(16), 1.5vw, rem-calc(20));
$font-size-label-small: clamp(rem-calc(14), 1vw, rem-calc(16));
$font-size-small: clamp(rem-calc(12), 1vw, rem-calc(14));
$font-size-extra-small: clamp(rem-calc(10), 1vw, rem-calc(12));  

$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;
$breakpoint-desktop: 1280px;