@use '../variables' as *;
@use '../mixins' as *;

.circle-list {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    gap: rem-calc(16);
    justify-content: space-around;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }

  &__icon {
    width: $brand-circle-size;
    height: $brand-circle-size;
    border-radius: 50%;
    background: $color-bg-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem-calc(8);
    img, svg {
      width: $brand-icon-size;
      height: $brand-icon-size;
    }
  }

  &__name {
    width: $brand-circle-size;
    color: rgba($color-text, 0.3);
  }
} 