@use '../variables' as *;
@use '../mixins' as *;

.circle-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: rem-calc(16);
    justify-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
        &--active {
            .brands__icon {
                background: $color-accent;
                img, svg {
                    fill: $color-bg;
                    opacity: 1;
                }
            }
            .brands__name {
                color: $color-text;
            }
        }
    }

  &__icon {
    width: $brand-circle-size;
    height: $brand-circle-size;
    border-radius: 50%;
    background: $color-bg-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem-calc(8);
    img, svg {
      width: $brand-icon-size;
      height: $brand-icon-size;
    }
  }

  &__name {
    color: rgba($color-text, 0.3);
  }
} 