@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.header { 
    
  &__container {
    padding: clamp(rem-calc(24), 4vw, rem-calc(32)) clamp(rem-calc(48), 4vw, rem-calc(96));
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rem-calc(1) solid $color-border;
  }

  &__logo img {
    max-width: clamp(rem-calc(130), 8vw, rem-calc(185));
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__mobile-menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-right: rem-calc(16);
    width: rem-calc(24);
    height: rem-calc(18);
    cursor: pointer;

    span {
      width: 100%;
      height: 2px;
      background-color: $color-text;
      transition: all 0.3s ease;
    }

    &.active {
      span:nth-child(1) {
        transform: rotate(45deg) translate(rem-calc(5), rem-calc(5));
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translate(rem-calc(7), rem-calc(-6));
      }
    }
  }

  &__menu-wrapper {
    padding: clamp(rem-calc(20), 4vw, rem-calc(28)) clamp(rem-calc(48), 4vw, rem-calc(96));
    border-bottom: clamp(rem-calc(4), 0.5vw, rem-calc(8)) solid $color-primary;
  }

  &__menu {
    display: flex;
    justify-content: flex-start;
    gap: clamp(rem-calc(16), 2vw, rem-calc(30));
  }

  &__menu-item {
    a {
      transition: color 0.2s;
      &:hover,
      &:focus {
        color: $color-primary;
      }
    }
  }
}

@include tablet {

  .header {

    &__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background: $color-bg;
    padding: rem-calc(16);
  }

  &__mobile-menu-toggle {
    display: flex;
  }

  &__logo img {
    height: rem-calc(32);
  }
  
  &__actions {
    flex-direction: row;
    gap: rem-calc(32);
  }

  &__menu-wrapper {
    padding: 0;
    border-bottom: none;
    position: fixed;
    top: rem-calc(56);
    left: 0;
    right: 0;
    background: $color-bg;
    z-index: 10;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    box-shadow: 0 rem-calc(4) rem-calc(12) rgba($color-text, 0.1);
    &.active {
      transform: translateY(0);
    }
  }

  &__menu {
    flex-direction: column;
    gap: 0;
    padding: rem-calc(16);
    padding-bottom: 0;
  }

  &__menu-item {
    border-bottom: 1px solid $color-border;
    &:last-child {
      border-bottom: none;
    }
    a {
      display: block;
      padding: rem-calc(16) 0;
    }
  }

  & .button {
    padding: rem-calc(5) rem-calc(20);
  }
}
}
