@use '../variables' as *;
@use '../mixins' as *;

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $color-primary-bright;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s;

  &--open {
    display: flex;
  }

  &__content {
    background: $color-bg;
    border-radius: rem-calc(10);
    box-shadow: 0 4px 40px rgba($color-grey-dark, 0.15);
    padding: rem-calc(100) rem-calc(110);
    position: relative;
  }

  &__close {
    position: absolute;
    top: rem-calc(30);
    right: rem-calc(30);
    color: $color-grey-dark;
    cursor: pointer;
    z-index: 2;
    transition: color 0.2s;
    &:hover {
      color: $color-primary-bright;
    }
    svg {
      width: rem-calc(26);
      height: rem-calc(26);
    }
  }

  &__title {
    font-size: rem-calc(50);
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    margin-bottom: rem-calc(78);
  }

  &__form {
    min-width: rem-calc(500);
    display: flex;
    flex-direction: column;
    gap: rem-calc(20);
  }

  &__input {
    width: 100%;
    padding: rem-calc(30) rem-calc(25);
    border: 1px solid $color-border-secondary;
    border-radius: rem-calc(5);
    font-size: rem-calc(20);
    color: $color-grey-dark;
    background: $color-bg-secondary;
    transition: border 0.2s;
    &:focus {
      box-shadow: 0 0 0 4px rgba($color-primary-bright, 0.2);
    }
  }

  &__checkbox-block {
    display: flex;
    align-items: center;
    margin-top: rem-calc(24);
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    font-size: rem-calc(20);
    cursor: pointer;
    user-select: none;
  }

  &__checkbox {
    display: none;
    &:checked + .modal__checkbox-custom {
        background-color: $color-primary-bright;
        background-image: url('data:image/svg+xml;utf8,<svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3.88235L5.07407 8L12 1" stroke="%23fff" stroke-width="2"/></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70% 70%;
        border-color: $color-primary-bright;
    }
  }

  &__checkbox-custom {
    width: rem-calc(27);
    height: rem-calc(27);
    border-radius: 50%;
    border: 2px solid $color-border-secondary;
    background: $color-bg-secondary;
    margin-right: rem-calc(12);
    position: relative;
    transition: border 0.2s, background 0.2s;
  }

  &__submit {
    margin-top: rem-calc(40);
    padding: rem-calc(24) rem-calc(90);
    font-size: rem-calc(20);
  }

  &__message {
    margin-top: rem-calc(24);
    font-size: rem-calc(20);
    text-align: center;
  }
}
