@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.summary {
    flex: 1 1 0%;
    box-sizing: border-box;
    padding-top: clamp(rem-calc(32), 3vw, rem-calc(40));
    border-radius: rem-calc(24);
    box-shadow: 0 4px 60px rgba($color-grey, 0.1);
    min-width: 0;
    max-width: rem-calc(700);

  &__tariff-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem-calc(12);
    margin-bottom:clamp(rem-calc(24), 3vw, rem-calc(32));
  }

  &__tariff-label {
    color: $color-grey-dark;
    font-size: $font-size-label;
  }

  &__tariff-badge {
    display: flex;
    align-items: center;
    background: $color-primary;
    color: $color-bg;
    border-radius: rem-calc(60);
    padding: clamp(rem-calc(10), 1.5vw, rem-calc(14)) clamp(rem-calc(16), 1.5vw, rem-calc(24));
    gap: rem-calc(8);
  }

  &__tariff-text {
    color: $color-bg;
    font-size: $font-size-label;
    font-weight: 700;
  }

  &__card-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: clamp(rem-calc(32), 3vw, rem-calc(48));
    border-bottom: 1px solid $color-border;
  }

  &__card-image {
    width: 100%;
    max-width: rem-calc(560);
    height: auto;
    padding: 0 rem-calc(48);
    border-radius: rem-calc(20);
    margin-bottom: rem-calc(24);
  }

  &__card-caption {
    display: flex;
    align-items: center;
    gap: rem-calc(10);
  }

  &__card-caption-text {
    color: $color-grey-dark;
    font-size: $font-size-label;
    text-decoration: underline;
    text-underline-offset: 6px;
  }

  &__promo-block {
    margin-top: clamp(rem-calc(32), 3vw, rem-calc(43));
    padding-bottom: clamp(rem-calc(32), 3vw, rem-calc(48));
    text-align: center;
    border-bottom: 1px solid $color-border;
  }

  &__promo-list {
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
  }

  &__promo-btn {
    position: relative;
    &--active {
      .summary__promo-percent {
        background: $color-accent;
        color: $color-text;
      }
      .summary__promo-desc {
        color: $color-text;
      }
    }
    &--active:not(&--disabled)::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: rem-calc(33);
      height: rem-calc(33);
      background-color: $color-primary-bright;
      border-radius: 50%;
      z-index: 2;
      background-image: url('data:image/svg+xml;utf8,<svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3.88235L5.07407 8L12 1" stroke="%23fff" stroke-width="2"/></svg>');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70% 70%;
    }
    &:not(.summary__promo-btn--active):not(.summary__promo-btn--disabled):hover {
      .summary__promo-percent {
        opacity: 0.3;
        background: $color-accent;
        color: $color-text;
      }
    }
  }

  &__promo-title {
    font-size: $font-size-subtitle;
    margin-bottom: clamp(rem-calc(16), 3vw, rem-calc(24));
  }

  &__promo-percent {
    width: rem-calc(110);
    height: rem-calc(110);
    font-size: $font-size-subtitle;
    font-weight: 500;
    color: $color-grey-light;  
    transition: background 0.3s, opacity 0.3s, color 0.3s;
  }

  &__promo-desc {
      width: rem-calc(100);
      color: rgba($color-text, 0.5);
  }

  &__savings-block {
    margin-top: clamp(rem-calc(32), 3vw, rem-calc(48));
    padding: 0 clamp(rem-calc(16), 3vw, rem-calc(48));
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: clamp(rem-calc(16), 3vw, rem-calc(24));
  }

  &__savings-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &--label {
      .summary__savings-title {
        width: 100%;
        max-width: rem-calc(120);
        font-size: $font-size-subtitle;
        line-height: rem-calc(29);
      }
    }
    &--year, &--month {
      .summary__savings-label {
        padding-bottom: rem-calc(5);
        font-size: $font-size-extra-small;
        text-transform: uppercase;
        color: $color-grey-dark;
        font-weight: 500;
      }
      .summary__savings-value {
        font-size: $font-size-subtitle;
        font-weight: 700;
      }
    }
  }

  &__order-block {
    margin-top: clamp(rem-calc(32), 3vw, rem-calc(48));
    padding: 0 clamp(rem-calc(16), 3vw, rem-calc(48));
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  &__order-button {
    display: block;
    width: 100%;
    max-width: rem-calc(480);
    padding: clamp(rem-calc(16), 3vw, rem-calc(24));
    font-size: $font-size-label-small;
    font-weight: 500;
  }

  &__order-text {
    font-size: $font-size-label;
  }

  &__order-arrow {
    display: inline-flex;
    margin-left: rem-calc(8);
  }

  &__order-error {
    margin-top: rem-calc(12);
    min-height: rem-calc(48);
    text-align: center;
    color: $color-error;
    transition: min-height 0.2s;
  }
}

@include desktop {
  .summary {
    max-width: rem-calc(800);
    width: 100%;

    &__tariff-block {
      flex-direction: column;
    }

    &__promo-percent {
      width: rem-calc(86);
      height: rem-calc(86);
    }
  }
}

@include mobile {
  .summary {
    &__promo-list {
      grid-template-columns: repeat(2, max-content);
    }
  }
}