@use '../variables' as *;
@use '../mixins' as *;

.summary {
    flex: 1 1 0%;
    box-sizing: border-box;
    border-radius: rem-calc(24);
    box-shadow: 0 4px 60px rgba($color-grey, 0.1);

  &__tariff-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem-calc(12);
    margin-top: rem-calc(44);
    margin-bottom: rem-calc(32);
  }

  &__tariff-label {
    color: $color-grey-dark;
    font-size: rem-calc(20);
  }

  &__tariff-badge {
    display: flex;
    align-items: center;
    background: $color-primary;
    color: $color-bg;
    border-radius: rem-calc(60);
    padding: rem-calc(14) rem-calc(24);
    gap: rem-calc(8);
  }

  &__tariff-text {
    color: $color-bg;
    font-size: rem-calc(20);
    font-weight: 700;
  }

  &__card-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: rem-calc(48);
    border-bottom: 1px solid $color-border;
  }

  &__card-image {
    width: 100%;
    max-width: rem-calc(520);
    height: auto;
    padding: 0 rem-calc(24);
    border-radius: rem-calc(20);
    margin-bottom: rem-calc(24);
  }

  &__card-caption {
    display: flex;
    align-items: center;
    gap: rem-calc(10);
  }

  &__card-caption-text {
    color: $color-grey-dark;
    font-size: rem-calc(20);
    text-decoration: underline;
    text-underline-offset: 6px;
  }

  &__promo-block {
    margin-top: rem-calc(43);
    padding-bottom: rem-calc(48);
    text-align: center;
    border-bottom: 1px solid $color-border;
  }

  &__promo-list {
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
  }

  &__promo-btn {
    position: relative;
    &--active {
      .summary__promo-percent {
        background: $color-accent;
        color: $color-text;
      }
      .summary__promo-desc {
        color: $color-text;
      }
    }
    &--active:not(&--disabled)::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: rem-calc(33);
      height: rem-calc(33);
      background: $color-primary-bright;
      border-radius: 50%;
      z-index: 2;
      background-image: url('data:image/svg+xml;utf8,<svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3.88235L5.07407 8L12 1" stroke="%23fff" stroke-width="2"/></svg>');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70% 70%;
    }
    &--disabled {
      .summary__promo-percent {
        box-shadow: 0 0 rem-calc(8) rem-calc(2) rgba($color-error, 0.5);
      }
    }
  }

  &__promo-title {
    font-size: rem-calc(24);
    margin-bottom: rem-calc(24);
  }

  &__promo-percent {
    width: clamp(86px, 7vw, 110px);
    height: clamp(86px, 7vw, 110px);
    border-radius: 50%;
    font-size: rem-calc(25);
    font-weight: 500;
    color: $color-grey-light;
  }

  &__promo-desc {
      color: rgba($color-text, 0.5);
  }

  &__savings-block {
    margin-top: rem-calc(50);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: rem-calc(32);
  }

  &__savings-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &--label {
      .summary__savings-title {
        max-width: rem-calc(120);
        font-size: rem-calc(24);
        line-height: rem-calc(29);
      }
    }
    &--year, &--month {
      .summary__savings-label {
        padding-bottom: rem-calc(5);
        font-size: rem-calc(12);
        text-transform: uppercase;
        color: $color-grey-dark;
        font-weight: 500;
      }
      .summary__savings-value {
        font-size: rem-calc(24);
        font-weight: 700;
      }
    }
  }

  &__order-block {
    margin-top: rem-calc(50);
    padding: 0 rem-calc(24);
    display: flex;
    justify-content: center;
  }
  
  &__order-button {
    display: block;
    width: rem-calc(530);
    padding: rem-calc(24);
    font-size: rem-calc(16);
    font-weight: 500;
  }

  &__order-arrow {
    display: inline-flex;
    margin-left: rem-calc(8);
  }
}
